<main id="main" class="main">
   <div class="pagetitle">
      <h1>Tableau de bord</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active">reports</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard" style="height: 700px;">
      <div class="row">
         <div class="col-lg-12">
            <div class="row"  *ngFor="let folder of folders">
               <div class="col-xxl-4 col-md-4" *ngFor="let r of folder.catalogItems">
                  <div class="card info-card sales-card" *ngIf="hasRole(folder.Name)">
                     <div class="card-body mt-3">
                        <a [routerLink]="['/show-report', r.Id ]">
                            <h5 class="card-title"><i class="bi bi-speedometer2 fs-4 me-2"></i> {{ extractSubString(r.Name) }}</h5>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
